@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

$linkedin-color: #2172ed;

.create-post-div {
  height: 100%;
  margin-bottom: 5rem;
}

.modal-input {
  border: none;
  outline: none;
  padding: 1rem;
  padding-left: 0;
  width: 100%;
  resize: none;
  font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
}

.post-btn {
  margin-top: 2rem;
  height: 40px;
  width: 90px;
  background-color: $linkedin-color;
  border: none;
  border-radius: 20px;
  color: #fff;
  position: absolute;
  bottom: 22px;
  right: 24px;
}

.preview-image {
  width: 100%;
  max-height: 275px;
  object-fit: contain;
}

.insert-icon-div {
  position: absolute;
  bottom: 20px;
  left: 21px;
}

.insert-icon {
  height: 40px !important;
  width: 40px !important;
  color: $linkedin-color;
}
