@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.more-icon {
  cursor: pointer;
  margin-right: 9px;
}

.ant-popover-arrow {
  position: relative;
  left: 88%;
}

.btn-btn button {
  justify-content: space-around;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
}
