@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

$linkedin-color: #2172ed;

.edit-about-info {
  height: 32em;
  padding: 1rem;
  position: relative;
}

.edit-about-info button {
  margin-top: 2rem;
  height: 40px;
  width: 90px;
  background-color: $linkedin-color;
  border: none;
  border-radius: 20px;
  color: #fff;
  position: absolute;
  bottom: 8px;
  right: 1rem;
}

.edit-about-info textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
